
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Merienda:wght@300..900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Distressed&family=Ubuntu:wght@400;500;700&display=swap');
*{
    font-family: "Poppins",sans-serif; 
     margin:0; 
    padding:0;
    box-sizing:border-box;

}
.sidebar{
    width:270px;
    position:fixed;
    margin:16px ;
     background:#151A2D;
     height: calc(100vh - 32px);
     border-radius:16px;
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header  .toggler{
    transform: translate(-4px,65px);
}
.sidebar-header{
    position : relative;
    display:flex;
    align-items:center;
    padding: 25px 20px ;
    justify-content:space-between;

}
.sidebar-nav .nav-link .nav-label{
    transition:0.4s ease;
}
 .sidebar.collapsed  .sidebar-nav .nav-link .nav-label{
    opacity:0;
    pointer-events:none;
 }
.sidebar-header .header-logo img{
  
    border-radius:50%;
    width:46px;
    height:46px;
    display:block;
      object-fit:contain; 
}
body{
    background: linear-gradient(#F1FAFF,#CBE4FF);
    min-height: 100vh;
}
.sidebar.collapsed{
 width: 85px;
}

.sidebar-nav .nav-link{
    text-decoration:none;
    padding:12px 15px ;
  display:flex;
  align-items : center;
  text-decoration:none;
  transition: 0.4s ease;
    color:white;
}
.sidebar-nav .nav-link:hover{
    background:#dde4fb;
    color:#151A2D;
    border-radius:8px;
}

.sidebar-nav .nav-list{
    list-style: none;
    padding:0 15px;
    gap:4px;
    display:flex;
    flex-direction:column;
    transform:translateY(40px);
    transition: 0.4s ease;


}
.sidebar-header .toggler{
 right:20px;
 position:absolute;
    height: 35px;
    width:35px;
    border:none;
    border-radius:8px;
    color : #151A2D;
    cursor:pointer;
    justify-content:center;
    display:flex;
    align-items:center;
    background-color:white;
}
.sidebar-header .toggler:hover{
    background:#dde4fb;
}
.sidebar-header .toggler span{
font-size:1.75rem;

}

.sidebar-nav .secondary-nav{
    position:absolute;
    bottom : 30px;
    width: 100%;

}