body{
    background-color:aliceblue;
    color:black;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    



}
#red{
    width: 100px;
    height: 50px;
    background-color: rgba(230, 9, 9, 0.819);
    border:rgb(188, 237, 14) solid 5px;
    border-radius:5px;

}
#blue{
    width: 100px;
    height: 50px;
    background-color: rgba(20, 82, 205, 0.765);
    border:rgb(188, 237, 14) solid 5px;
    border-radius:5px;
}
#pink{
    width: 100px;
    height: 50px;
    background-color: rgb(225, 52, 81);
    border:rgb(188, 237, 14) solid 5px;
    border-radius:5px;
}
#grey{
    width:100px;
    height:50px;
    background-color: grey;
    border:rgb(188, 237, 14) solid 5px;
    border-radius:5px;
}
#yellow{
    height:50px;
    width:100px;
    background-color:magenta;
    border: rgb(188, 237, 14) solid 5px;
    border-radius:5px;
}